<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="outputFilename" value="prh-app-server_output"/>
  <property name="logPath" value="/var/log/ONAP/prh/prh-app-server"/>
  <property name="archivePath" value="${logPath}/archive"/>
  <property name="maxFileSize" value="50MB"/>
  <property name="maxHistory" value="30"/>
  <property name="totalSizeCap" value="10GB"/>
  <property name="defaultPattern" value="%nopexception%logger
    |%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX,UTC}
    |%level
    |%replace(%replace(%message){'\t','\\\\t'}){'\n','\\\\n'}
    |%replace(%replace(%mdc){'\t','\\\\t'}){'\n','\\\\n'}
    |%replace(%replace(%rootException){'\t','\\\\t'}){'\n','\\\\n'}
    |%replace(%replace(%marker){'\t','\\\\t'}){'\n','\\\\n'}
    |%thread
    |%n"/>

  <springProfile name="prod">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE" target="SYSTEM_OUT">
      <encoder>
        <pattern>${defaultPattern}</pattern>
      </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ROLLING-FILE">
      <encoder>
        <pattern>${defaultPattern}</pattern>
      </encoder>
      <File>${logPath}/${outputFilename}.log</File>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <FileNamePattern>${archivePath}/${outputFilename}.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
        <MaxFileSize>${maxFileSize}</MaxFileSize>
        <MaxHistory>${maxHistory}</MaxHistory>
        <TotalSizeCap>${totalSizeCap}</TotalSizeCap>
      </rollingPolicy>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="ROLLING-FILE"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE" target="SYSTEM_OUT">
      <encoder>
        <pattern>${CONSOLE_LOG_PATTERN}</pattern>  <!-- from org/springframework/boot/logging/logback/defaults.xml -->
      </encoder>
    </appender>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>
